:root {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green: #6aaa64;
  --yellow-3: #c9b458;
  --gray-3: #878a8c;
  --gray-4: #d3d6da;
  --gray-20: #787c7e;
  --black: #000;
  --white: #fff;

  --color-tone-1: #1a1a1b;
  --color-tone-2: var(--gray-20);
  --color-tone-3: var(--gray-3);
  --color-tone-4: var(--gray-4);
  --color-tone-7: var(--white);
  --color-background: var(--color-tone-7);
  --color-present: var(--yellow-3);
  --color-correct: var(--green);
  --color-absent: var(--color-tone-2);
  --tile-text-color: var(--color-tone-7);
  --key-text-color: var(--color-tone-1);
  --key-evaluated-text-color: var(--color-tone-7);
  --key-evaluated-text-color-absent: var(--white);
  --key-bg: var(--color-tone-4);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
  --outline-focus: #005fcc;

  --header-height: 48px;
  --keyboard-height: 200px;
  --game-max-width: 500px;
  --toast-z-index: 1000;
  --horizontal-spacing-0-5: 4px;
  --horizontal-spacing-1: 8px;
  --horizontal-spacing-2: 16px;
  --horizontal-spacing-3: 24px;
  --vertical-spacing-1: 8px;
}

@media (min-width: 1024px) {
  :root {
    --header-height: 56px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-tone-1: #f8f8f8;
    --color-tone-2: #565758;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-7: #121213;
    --color-background: var(--color-tone-7);
    --color-present: #b59f3b;
    --color-correct: #538d4e;
    --color-absent: var(--color-tone-4);
    --tile-text-color: var(--color-tone-1);
    --key-text-color: var(--color-tone-1);
    --key-evaluated-text-color: var(--color-tone-1);
    --key-evaluated-text-color-absent: var(--color-tone-1);
    --key-bg: #818384;
    --key-bg-present: var(--color-present);
    --key-bg-correct: var(--color-correct);
    --key-bg-absent: var(--color-absent);
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--color-background);
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1;
}

input,
textarea {
  -webkit-user-select: text;
  user-select: text;
}

button {
  font: inherit;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid var(--outline-focus);
  outline-offset: -1px;
}
